@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}
h1, .abril-fatface, .karen-nav{
  font-family: "Abril Fatface", serif !important;
}
body *:not(h1, h2, .karen-nav){
  font-family: "Jost", sans-serif !important;
}
.pointer {
  cursor: pointer;
}
.container-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-top: 100px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.responsive-iframe * {
  margin: auto;
}

#Carousel button{
  background-color: white;
  box-shadow: 0px 0px 5px 0px gray;
}
#Carousel button svg{
  stroke: gray;
}
.container-video * {
  display: flex;
  justify-content: center;
  align-items: center;
}
button .close{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}