@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}
h1, .abril-fatface, .karen-nav{
  font-family: "Abril Fatface", serif !important;
}
body *:not(h1, h2, .karen-nav){
  font-family: "Jost", sans-serif !important;
}
.pointer {
  cursor: pointer;
}
.container-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /*16:9 Aspect Ratio */
  margin-top: 100px;
}
.container-video-project {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.responsive-iframe * {
  margin: auto;
}

#Carousel button{
  background-color: white;
  box-shadow: 0px 0px 5px 0px gray;
}
#Carousel button svg{
  stroke: gray;
}
.container-video *, .thesis_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thesis_link{
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
  color: #7a2383;
}
.h2-hero{
  padding-top: 20px;
}
button .close{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}
button.primary{
  background-color: #611f69;
  color: #fff;
  border: 1px solid #611f69;
}
button.primary:hover, button.secondary:hover{
  background-color: #7a2383;
  color: #fff;
  border: 1px solid #7a2383;
}
button.secondary:hover .arrow{
  color: #fff;
}
button.secondary{
  background-color: #fff;
  color: #611f69;
  border: 1px solid #fcbd8a;
}
.contact-wrapper{
  border: 1px solid #fcbd8a;
}
.footer-line{
  border-top: 1px solid #fcbd8a;
}
.transparent{
  opacity: 0;
}
/* Animation up */
.view {
  animation: up 1s forwards;
}
.shrinkToFit{
  margin: auto;
}

.loading{
  font-size: 260px;
  color: #611f69;
  font-weight: bold;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #611f69;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #611f69 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
Button.hero-project {
  margin-top: 20px;
}
.projects-container .content{
  max-width: 1200px;
  width: 100%;
  padding-bottom: 150px;
}

@media screen and (min-width: 1200px){
  .image-project{
    max-width: 1200px;
    width: max-content;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}